# Ignore the env file
docker/.env
# Ignore contents of workspace
workspace/*
!workspace/Makefile
# Ignore contents of config
config/*
!config/config
config/config/*
!config/config/.gitkeep
!config/local.yaml
