# Runtime profile: lsp, cpu or gpu
COMPOSE_FILE=docker-compose.lsp.yml

# Workspace Path
WS_PATH=../workspace

# Whether to install dev tools
INSTALL_DEV_ENV=false

# Base image to use for the ros-dev build
BASE_IMAGE=osrf/ros:melodic-desktop-full
