# CPU docker compose file.
services:
  ros-dev:
    image: ros-dev
    container_name: ros-dev
    build:
      context: ../
      dockerfile: docker/Dockerfile
      args:
        BASE_IMAGE: ${BASE_IMAGE:-osrf/ros:melodic-desktop-full}
    privileged: true
    network_mode: host
    ipc: host
    stdin_open: true
    tty: true
    command: ["tail", "-f", "/dev/null"]
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - QT_QPA_PLATFORM=xcb
      - XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR:-/run/user/$(id -u)}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${XDG_RUNTIME_DIR}:${XDG_RUNTIME_DIR}
      - /dev:/dev
      - ../workspace:/root/ws
      - ../config/config:/root/config
      - ../config/local.yaml:/etc/ros/local.yaml

